@import "tailwindcss";

@layer utilities {
  .hero-bg {
    background-image: linear-gradient(
      to bottom,
      #000,
      #200d40 34%,
      #4f21a1 65%,
      #a46edb 80%
    );
  }

  .hero-text-gradient {
    background-image: linear-gradient(red-500 to blue-500);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
